@{ ViewData["Title"] = "HomePage"; }

<div class="text-center">
    <bold>
        <h1 id="h1">Welcome to Plan PartnerHood</h1>
    </bold>
    <style>
        #h1 {
            text-align: right;
        }
    </style>

    <img src="./Images/couple2.jpg" width=100% height=100% />
</div>
<br />

<bold>
    <center>
        <h1>Introduction</h1>
        <br />

        <h5>TIME TO SPICE IT UP!</h5>
        <p>Are you tired of always planning dates and vacations with your significant other? </p>
        <p>Do you always find yourself forgetting important dates? </p>
        <p>How about finding the perfect gift for your partner? </p>
        <br />

        <p>
            Plan Partnerhood is the website for YOU! Let us do all the work while you and your significant other kick back and drink some margaritas!!!
            From us planning your whole date night to us being the middle man with important reminders. We have packages ranging from transportation to planning your whole vacation with flights and hotels
            . From cheap to expensive, we will always have your back and give you the best experience ever. It is as simple as selecting a package and letting us plan your whole date for you.
        </p>
        <br />
        <h3>Packages</h3>
        <p>Planner Package: Let Us Do All The Planning For Your Date!</p>
        <p>Reminder Package: Text/Emails/Location Reminders</p>
        <p>Transport Package: Too Lazy? We'll Pick You Up!</p>
        <p>Deluxe Package: Vacations, Hotels, and Flights</p>
        <p>Custom Package: Customize Your Own Package</p>
        <br />
        <h3>Contact</h3>
        <h6>Plan PartnerHood</h6>
        <h6>Email: PlanPartnerHood@gmail.com</h6>
        <h6>Phone: 012-345-6789</h6>
    </center>

</bold>





