@model CapstoneOne.Models.DateActivity

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Activity</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ActivityName"></label>
                       
                    </div>
                    <div class="col-4">
                        <label asp-for="Budget"></label>
                      
                    </div>
                    <div class="col-4">
                        <label asp-for="DateActivityType"></label>
                       
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="ActivityName" class="form-control" />
                        <span asp-validation-for="ActivityName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Budget" class="form-control" />
                        <span asp-validation-for="ActivityName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <select asp-for="DateActivityType" asp-items="@ViewBag.TypeDropDown" class="form-control">
                           <option selected>--Select Activity Type--</option>
                        </select>
                        <span asp-validation-for="DateActivityType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger with-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts{
@{ <partial name="_ValidationScriptsPartial"/>}
 }